<div id="body">
    <div class="dock" id="dock2">
        <div class="dock-container2">
            <a class="dock-item2" routerLink="/"><span>Home</span><img src="/assets/img/home.png" alt="home" /></a>
            <a class="dock-item2" routerLink="/contact"><span>Contact</span><img src="/assets/img/email.png" alt="contact" /></a>
            <a class="dock-item2" routerLink="/portfolio"><span>Portfolio</span><img src="/assets/img/portfolio.png"
                    alt="portfolio" /></a>
        </div>
    </div>
</div>

